<% layout("/layouts/boiler") %>
<body>
<br>
<h3>All Listings</h3>
<!-- <form action="/listing/new" method="get">
    <button>Create New Listing</button>
</form> -->
<br>
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 ">
    <% for(let listing of AllListings) { %>
    <a href="/listing/<%= listing._id %>" style="text-decoration: none; color: inherit;" class="listing-link">
  <div class="card col listing-card">
    <img src="<%= listing.image.url %>" class="card-img-top" alt="listing image" style="height: 20rem;">
        <div class="card-img-overlay">
        <h5 class="card-title">Card title</h5>
        </div>
    <div class="card-body">
      <p class="card-title"><b><%= listing.title %></b></p>
      <span>&#x20B9; <%= listing.price.toLocaleString("en-IN") %>/night</span>
    </div>
  </div>
</a>
    
<% } %>
</div>


</body>