<% layout("/layouts/boiler") %>

  <body>
    <br>
      <h3>Create a New Listing</h3>
      <form method="POST" action="/listing"  class="needs-validation" enctype="multipart/form-data">
        <div class="row">
          <div class="col">

        <div class="mb-3">
          <label for="title" class="form-label" >Title</label>
          <input name="list[title]" placeholder="enter title" type="text"  class="form-control" required/>
            <div class="invalid-feedback">
            Please provide a valid Title.
            </div>
        </div>

        <div class="mb-3">
          <label for="title" class="form-label" >Description</label>
          <input name="list[description]" placeholder="enter a brief description" type="text"  class="form-control" required/>
            <div class="invalid-feedback">
            Please provide a valid Description.
            </div>
        </div>


        <!-- <div class="mb-3">
            <label for="image" class="form-label">Image Link</label>
            <input
              name="list[image][url]"
              placeholder="enter image URL/Link"
              type="text"
              class="form-control"
            />
        </div> -->

        <div class="mb-3">
            <label for="image" class="form-label">Upload Image</label>
            <input
              name="list[image]"
              type="file"
              class="form-control"
            />
        </div>


        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label" required>Price</label>
            <input name="list[price]" placeholder="enter price" type="number" class="form-control" required/>
            <div class="invalid-feedback">
            Please provide a valid Price.
            </div>
        </div>
        

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label" required>Country</label>
          <input
            name="list[country]"
            placeholder="enter country"
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">
           Please provide a valid Country.
          </div>
        </div>
        </div>
        
        <div class="mb-3">
          <label for="location" class="form-label" required>Location</label>
          <input
            name="list[location]"
            placeholder="enter Location"
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">
           Please provide a valid Location.
          </div>
        </div>
        <br>
        <button class="btn btn-dark add-btn">Submit</button>
        </div>
    </div>
    </form>

</body>
