/* body{
    background-color: pink;
} */

.navbar {
    background-color: white;
    height: 4rem;
    z-index: 100;
}

.fa-compass {
    color: #fe424d;
}

.nav-link{
    color: #222222 !important;
}